#form {
  margin-top: 150px;
  margin-bottom: 90px;
  background-color: #0e1d41;
  padding: 100px 0;
  color: #fff;

  .submit-btn {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
  }
}
